In [23]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(150)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Olinda,BR,2022-04-13 23:43:48,-8.0089,-34.8553,82.13,69,0,4.61
1,1,Jamestown,US,2022-04-13 23:43:49,42.0970,-79.2353,69.39,61,0,4.61
2,2,Khorixas,NaN,2022-04-13 23:43:49,-20.3667,14.9667,71.22,39,55,2.10
3,3,Mahebourg,MU,2022-04-13 23:39:07,-20.4081,57.7000,78.26,88,75,11.50
4,4,Kloulklubed,PW,2022-04-13 23:43:49,7.0419,134.2556,79.30,80,90,16.17
...,...,...,...,...,...,...,...,...,...,...
145,145,Salinas,US,2022-04-13 23:43:48,36.6777,-121.6555,63.48,49,0,13.80
146,146,Ponta Delgada,PT,2022-04-13 23:44:37,37.7333,-25.6667,61.52,88,20,13.80
147,147,Fortuna,US,2022-04-13 23:47:42,40.5982,-124.1573,48.92,90,75,17.27
148,148,Bundaberg,AU,2022-04-13 23:46:21,-24.8500,152.3500,71.22,80,40,10.36
149,149,Batagay,RU,2022-04-13 23:47:43,67.6333,134.6333,13.57,89,98,0.92

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,  weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Olinda,BR,2022-04-13 23:43:48,-8.0089,-34.8553,82.13,69,0,4.61
3,3,Mahebourg,MU,2022-04-13 23:39:07,-20.4081,57.7000,78.26,88,75,11.50
4,4,Kloulklubed,PW,2022-04-13 23:43:49,7.0419,134.2556,79.30,80,90,16.17
10,10,Victoria Point,AU,2022-04-13 23:43:51,-27.5833,153.3000,75.18,72,44,5.99
19,19,Maputo,MZ,2022-04-13 23:43:54,-25.9653,32.5892,76.68,78,20,4.61
20,20,Hithadhoo,MV,2022-04-13 23:43:54,-0.6000,73.0833,83.39,74,95,8.86
25,25,Mitsamiouli,KM,2022-04-13 23:43:56,-11.3847,43.2844,81.84,76,97,8.25
26,26,Natal,BR,2022-04-13 23:43:57,-5.7950,-35.2094,81.25,83,20,9.22
27,27,Bilma,NE,2022-04-13 23:43:57,18.6853,12.9164,84.72,8,22,6.78
30,30,Vaini,TO,2022-04-13 23:43:58,-21.2000,-175.2000,84.36,89,20,9.22

In [13]:
preferred_cities_df.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Olinda      BR     82.13  -8.0089  -34.8553
3        Mahebourg      MU     78.26 -20.4081   57.7000
4      Kloulklubed      PW     79.30   7.0419  134.2556
10  Victoria Point      AU     75.18 -27.5833  153.3000
19          Maputo      MZ     76.68 -25.9653   32.5892
20       Hithadhoo      MV     83.39  -0.6000   73.0833
25     Mitsamiouli      KM     81.84 -11.3847   43.2844
26           Natal      BR     81.25  -5.7950  -35.2094
27           Bilma      NE     84.72  18.6853   12.9164
30           Vaini      TO     84.36 -21.2000 -175.2000

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name
hotel_df.replace("", np.nan, inplace=True)
hotel_df = hotel_df.dropna()
hotel_df.isnull().sum()
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Olinda,BR,82.13,-8.0089,-34.8553,Flat Quatro Rodas Olinda
3,Mahebourg,MU,78.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Kloulklubed,PW,79.30,7.0419,134.2556,Storyboard Beach Resort
10,Victoria Point,AU,75.18,-27.5833,153.3000,Bay Retreat Motel
19,Maputo,MZ,76.68,-25.9653,32.5892,Pestana Rovuma
...,...,...,...,...,...,...
553,Mana,GF,76.87,5.6592,-53.7767,LE SAMANA
554,Kirakira,SB,85.77,-10.4544,161.9205,SanBiz Lodge
558,Moroni,KM,79.27,-11.7022,43.2551,Hotel les Arcades
564,Monrovia,LR,78.89,6.3005,-10.7969,Sunset Inn
569,Sassandra,CI,79.56,4.9500,-6.0833,la terrasse

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))